*{
  padding: 0;
  margin: 0;
}
body{
    background-color: #7A252B;
}
header{
  background-color: #FFE5D4;
  border-radius: 5px;
}
.imglogo{
  padding: 15px;
  display: block;
  margin-right: auto;
}
.redes{
  padding-top: 7rem;
  display: block;
  margin-right: auto;
}
.redes img{
  width: 35px;
}
.navbar{
  background-color: #FFAC68;
  min-height: 10%;
  border: none;
  border-radius: 5px;
}
.navbar .nav{
  text-align: justify;
}
.text-menu{
  padding-left: 45px;
  padding-right: 45px;
}
.separador{
  min-height: 5%;
  display: block;
  border: none;
}
.icono{
  padding-top: 30px;
}
.row{
  background-color: #FFE5D4;
  border-radius: 5px;
}
.nota1{
  text-align: justify;
}
.foto1{
  padding-top: 35px;
}
.borde-fondo textarea{
    border: 1px solid RGB(122,37,43);
}
.busqueda{
  padding: 15px;
}
.boton{
  border: 1px solid RGB(217,217,217);
  border-collapse: collapse;
}

#frm textarea{
  	min-height: 25px;
	   border: 2px solid #ccc;
    width:100%;
    margin: 0;
    resize: none;
    padding-right:60px;
}
#izq {
    position:absolute;
    top: 0px;
    right:0px;
    height: 35px;
    line-height: 35px;
    width: 60px;
    z-index:1;
}

#izq img {
  cursor:pointer;
  vertical-align: middle;
}
@media (max-width: 770px) {
  .imglogo{
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
  }
  .redes{
    padding: 0;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
  }
  .navbar .nav{
    text-align: center;
  }
  .foto1 img{
    display: block;
    margin: auto;
  }

}
@media (max-width: 480px) {
  .redes{
    padding: 0;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
  }
}
